<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}/">World of Pannotia</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" title="Setting" class="dropdown-toggle" data-toggle="dropdown" role="button">Setting <span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="{{ site.url }}/setting/" title="Introduction">Introduction</a></li>
                        <li class="dropdown-submenu">
                            <a href="#" title="Geography" class="flyout-toggle" data-toggle="flyout" role="button">Geography</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/setting/geography/" title="Introduction">Introduction</a></li>
                                <li><a href="{{ site.url }}/setting/geography/cities/" title="Cities">Cities</a></li>
                                <li><a href="{{ site.url }}/setting/geography/regions/" title="Regions &amp; Countries">Regions &amp; Countries</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.url }}/setting/cosmology/" title="Cosmology">Cosmology</a></li>
                        <li class="dropdown-submenu">
                            <a href="#" title="Religion" class="flyout-toggle" data-toggle="flyout" role="button">Religion</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/setting/religion/" title="Deities">Introduction</a></li>
                                <li><a href="{{ site.url }}/setting/religion/deities/" title="Deities">Deities</a></li>
                                <li><a href="{{ site.url }}/setting/religion/divine-tournament/" title="Divine Tournament">Divine Tournament</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.url }}/setting/history/" title="History">History</a></li>
                        <li><a href="{{ site.url }}/setting/organizations-npcs/" title="Organizations &amp; NPCs">Organizations &amp; NPCs</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ site.url }}/game-rules/" title="Game Rules" class="dropdown-toggle" data-toggle="dropdown" role="button">Game Rules <span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="{{ site.url }}/game-rules/basics/" title="The Basics">The Basics</a></li>
                        <li class="dropdown-submenu">
                            <a href="{{ site.url }}/game-rules/skills-feats/" title="Skills &#038; Feats" class="flyout-toggle" data-toggle="flyout" role="button">Skills &#038; Feats</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/game-rules/skills-feats/basics/" title="Basics">Basics</a></li>
                                <li><a href="{{ site.url }}/game-rules/skills-feats/skills/" title="Skills">Skills</a></li>
                                <li><a href="{{ site.url }}/game-rules/skills-feats/feats/" title="Feats">Feats</a></li>
                                <li><a href="{{ site.url }}/game-rules/skills-feats/epic-skills/" title="Epic Skills">Epic Skills</a></li>
                                <li><a href="{{ site.url }}/game-rules/skills-feats/epic-feats/" title="Epic Feats">Epic Feats</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="{{ site.url }}/game-rules/races-classes/" title="Races &#038; Classes" class="flyout-toggle" data-toggle="flyout" role="button">Races &#038; Classes</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/game-rules/races-classes/races/" title="Races">Races</a></li>
                                <li><a href="{{ site.url }}/game-rules/races-classes/classes/" title="Classes">Classes</a></li>
                                <li><a href="{{ site.url }}/game-rules/races-classes/prestige/" title="Prestige Classes">Prestige Classes</a></li>
                                <li><a href="{{ site.url }}/game-rules/races-classes/epic/" title="Epic Classes">Epic Classes</a></li>
                                <li><a href="{{ site.url }}/game-rules/races-classes/racial/" title="Racial Classes">Racial Classes</a></li>
                                <li><a href="{{ site.url }}/game-rules/races-classes/npc-classes/" title="NPC Classes">NPC Classes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="{{ site.url }}/game-rules/magic-psionics/" title="Magic &#038; Psionics" class="flyout-toggle" data-toggle="flyout" role="button">Magic &#038; Psionics</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/game-rules/magic-psionics/spells/" title="Spells">Spells</a></li>
                                <li><a href="{{ site.url }}/game-rules/magic-psionics/powers/" title="Powers">Powers</a></li>
                                <li><a href="{{ site.url }}/game-rules/magic-psionics/spell-combinations/" title="Spell Combinations">Spell Combinations</a></li>
                                <li><a href="{{ site.url }}/game-rules/magic-psionics/domains/" title="Cleric Domains">Cleric Domains</a></li>
                                <li><a href="{{ site.url }}/game-rules/magic-psionics/epic-spells/" title="Epic Spells">Epic Spells</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="{{ site.url }}/game-rules/adventuring-combat/" title="Adventuring &#038; Combat" class="flyout-toggle" data-toggle="flyout" role="button">Adventuring &#038; Combat</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/game-rules/adventuring-combat/abilities-conditions/" title="Abilities &#038; Conditions">Abilities &#038; Conditions</a></li>
                                <li><a href="{{ site.url }}/game-rules/adventuring-combat/carrying-movement-exploration/" title="Carrying, Movement, &#038; Exploration">Carrying, Movement, &#038; Exploration</a></li>
                                <li><a href="{{ site.url }}/game-rules/adventuring-combat/combat/" title="Combat">Combat</a></li>
                                <li><a href="{{ site.url }}/game-rules/adventuring-combat/traps/" title="Traps">Traps</a></li>
                                <li><a href="{{ site.url }}/game-rules/adventuring-combat/wilderness-environment/" title="Wilderness &#038; Environment">Wilderness &#038; Environment</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="{{ site.url }}/game-rules/epic-deity-rules/" title="Epic &#038; Deity Rules" class="flyout-toggle" data-toggle="flyout" role="button">Epic &#038; Deity Rules</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/game-rules/epic-deity-rules/epic-obstacles/" title="Epic Obstacles">Epic Obstacles</a></li>
                                <li><a href="{{ site.url }}/game-rules/epic-deity-rules/divine-ranks-characteristics/" title="Divine Ranks, Characteristics, &#038; Powers">Divine Ranks, Characteristics, &#038; Powers</a></li>
                                <li><a href="{{ site.url }}/game-rules/epic-deity-rules/divine-abilities/" title="Divine Abilities">Divine Abilities</a></li>
                                <li><a href="{{ site.url }}/game-rules/epic-deity-rules/divine-minions/" title="Divine Minions">Divine Minions</a></li>
                                <li><a href="{{ site.url }}/game-rules/epic-deity-rules/becoming-a-god/" title="Becoming a God">Becoming a God</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" title="Equipment" class="dropdown-toggle" data-toggle="dropdown" role="button">Equipment <span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="{{ site.url }}/equipment/" title="The Basics">The Basics</a></li>
                        <li><a href="{{ site.url }}/equipment/weapons-armor/" title="Weapons &#038; Armor">Weapons &#038; Armor</a></li>
                        <li class="dropdown-submenu">
                            <a href="{{ site.url }}/equipment/magic-psionic-items/" title="Magic &#038; Psionic Items" class="flyout-toggle" data-toggle="flyout" role="button">Magic &#038; Psionic Items</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/basics/" title="Basics &#038; Creation">Basics &#038; Creation</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/cognizance-crystals/" title="Cognizance Crystals">Cognizance Crystals</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/dorjes/" title="Dorjes">Dorjes</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/potions-oils/" title="Potions &#038; Oils">Potions &#038; Oils</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/power-stones/" title="Power Stones">Power Stones</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/psicrowns/" title="Psicrowns">Psicrowns</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/psionic-tattoos/" title="Psionic Tattoos">Psionic Tattoos</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/rings/" title="Rings">Rings</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/rods/" title="Rods">Rods</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/scrolls/" title="Scrolls">Scrolls</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/staffs/" title="Staffs">Staffs</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/wands/" title="Wands">Wands</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/weapons-armor/" title="Weapons &#038; Armor">Weapons &#038; Armor</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/universal-items/" title="Universal Items">Universal Items</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/wondrous-items/" title="Wondrous Items">Wondrous Items</a></li>
                                <li><a href="{{ site.url }}/equipment/magic-psionic-items/intelligent-cursed-items/" title="Intelligent &#038; Cursed Items">Intelligent &#038; Cursed Items</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="{{ site.url }}/equipment/epic-magic-psionic-items/" title="Epic Magic &#038; Psionic Items" class="flyout-toggle" data-toggle="flyout" role="button">Epic Magic &#038; Psionic Items</a>
                            <ul class="flyout-menu">
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/basics-creation/" title="Basics &#038; Creation">Basics &#038; Creation</a></li>
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/rings/" title="Rings">Rings</a></li>
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/rods/" title="Rods">Rods</a></li>
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/scrolls/" title="Scrolls">Scrolls</a></li>
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/staffs/" title="Staffs">Staffs</a></li>
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/weapons-armor/" title="Weapons &#038; Armor">Weapons &#038; Armor</a></li>
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/wondrous-items/" title="Wondrous Items">Wondrous Items</a></li>
                                <li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/intelligent-items/" title="Intelligent Items">Intelligent Items</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ site.url }}/equipment/special-materials/" title="Special Materials">Special Materials</a></li>
                        <li><a href="{{ site.url }}/equipment/artifacts/" title="Artifacts">Artifacts</a></li>
                        <li><a href="{{ site.url }}/equipment/generating-treasure/" title="Generating Treasure">Generating Treasure</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ site.url }}/monsters/" title="Monsters" class="dropdown-toggle" data-toggle="dropdown" role="button" class="flyout-toggle" data-toggle="flyout" role="button">Monsters <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.url }}/monsters/introduction/" title="Introduction">Introduction</a></li>
                        <li><a href="{{ site.url }}/monsters/list/" title="Monsters">Monsters</a></li>
                        <li><a href="{{ site.url }}/monsters/animals-vermin/" title="Animals &#038; Vermin">Animals &#038; Vermin</a></li>
                        <li><a href="{{ site.url }}/monsters/improving-monsters/" title="Improving Monsters">Improving Monsters</a></li>
                        <li><a href="{{ site.url }}/monsters/additional-info/" title="Additional Information">Additional Information</a></li>
                        <li><a href="{{ site.url }}/monsters/epic-monsters/" title="Epic Monsters">Epic Monsters</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{{ site.url }}/misc/" title="Misc" class="dropdown-toggle" data-toggle="dropdown" role="button">Misc <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.url }}/misc/differences-from-standard-d20/" title="Differences from standard d20">Differences from standard d20</a></li>
                        <li><a href="{{ site.url }}/misc/ogl/" title="Open Gaming License">Open Gaming License</a></li>
                        <li><a href="{{ site.url }}/misc/credits-thanks/" title="Credits &#038; Thanks">Credits &#038; Thanks</a></li>
                        <li><a href="{{ site.url }}/misc/useful-links/" title="Useful Links">Useful Links</a></li>
                    </ul>
                </li>
                <li><a href="http://blog.worldofpannotia.com/" title="Blog">Blog</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>