{% assign feat = include.feat %}

{% capture ogc %}
<h4>{{ feat.name }}{% if feat.types.size > 0 %} [{{ feat.types | sort | join:'][' }}]{% endif %}</h4>
{% if feat.prerequisite != "" %}
<h5>Prerequisite</h5>
{{ feat.prerequisite | markdownify }}
{% endif %}
<h5>Benefit</h5>
{{ feat.benefit | markdownify }}
{% if feat.normal != "" %}
<h5>Normal</h5>
{{ feat.normal | markdownify }}
{% endif %}
{% if feat.special != "" %}
<h5>Special</h5>
{{ feat.special | markdownify }}
{% endif %}
{% endcapture %}

{% if feat.description != "" %}{{ feat.description | markdownify }}{% endif %}

{% include _other/ogc-block.html ogc_content=ogc %}