{% assign class = include.class %}

<h2>{{ include.title }}</h2>

{% if class.description and class.description != "" %}{{ class.description | pmarkdownify | liquify }}{% endif %}

{% if class.adventures and class.adventures != "" %}
<p><strong>Adventurers</strong></p>

{{ class.adventures | pmarkdownify | liquify }}
{% endif %}

{% if class.characteristics and class.characteristics != "" %}
<p><strong>Characteristics</strong></p>

{{ class.characteristics | pmarkdownify | liquify }}
{% endif %}

{% if class.alignment and class.alignment != "" %}
<p><strong>Alignment</strong></p>

{{ class.alignment | pmarkdownify | liquify }}
{% endif %}

{% if class.religion and class.religion != "" %}
<p><strong>Religion</strong></p>

{{ class.religion | pmarkdownify | liquify }}
{% endif %}

{% if class.background and class.background != "" %}
<p><strong>Background</strong></p>

{{ class.background | pmarkdownify | liquify }}
{% endif %}

{% if class.races and class.races != "" %}
<p><strong>Races</strong></p>

{{ class.races | pmarkdownify | liquify }}
{% endif %}

{% if class.otherClasses and class.otherClasses != "" %}
<p><strong>Other Classes</strong></p>

{{ class.otherClasses | pmarkdownify | liquify }}
{% endif %}

{% if class.role and class.role != "" %}
<p><strong>Role</strong></p>

{{ class.role | pmarkdownify | liquify }}
{% endif %}

{% capture ogc %}
<h3>Game Rule Info</h3>

{% if class.gameRuleInfo.abilities != "" %}<p><strong>Abilities:</strong> {{ class.gameRuleInfo.abilities | inline_pmarkdownify | liquify }}</p>{% endif %}
{% if class.gameRuleInfo.alignment != "" %}<p><strong>Alignment:</strong> {{ class.gameRuleInfo.alignment | inline_pmarkdownify | liquify }}</p>{% endif %}
{% if class.gameRuleInfo.hitDie != "" %}<p><strong>Hit Die:</strong> {{ class.gameRuleInfo.hitDie | inline_pmarkdownify | liquify }}</p>{% endif %}

<h4>Class Skills</h4>
<p>The {{ include.title }}'s class skills are {{ class.gameRuleInfo.classSkills | join:', ' | inline_pmarkdownify | liquify }}.</p>

{% if class.gameRuleInfo.classSkillsSpecial and class.gameRuleInfo.classSkillsSpecial != "" %}
{{ class.gameRuleInfo.classSkillsSpecial | pmarkdownify | liquify }}
{% endif %}

<p><strong>Skill Points at 1st level:</strong> ({{ class.gameRuleInfo.skillPoints }} + Int modifier) &times; 4</p>
<p><strong>Skill Points at each additional level:</strong> {{ class.gameRuleInfo.skillPoints }} + Int modifier</p>

{{ class.gameRuleInfo.classTables | pmarkdownify | liquify }}

{% if class.gameRuleInfo.classFeatures and class.gameRuleInfo.classFeatures.size > 0 %}
<h4>Class Features</h4>
<p>All of the following are class features of the {{ include.title }}.</p>

{% for feature in class.gameRuleInfo.classFeatures %}
<p><strong>{{ feature.name }}{% if feature.type != "" %} ({{ feature.type }}){% endif %}</strong></p>

{{ feature.desc | pmarkdownify | liquify }}
{% endfor %}
{% endif %}

{% if class.gameRuleInfo.additionalInfo and class.gameRuleInfo.additionalInfo != "" %}
{{ class.gameRuleInfo.additionalInfo | pmarkdownify | liquify }}
{% endif %}
{% endcapture %}

{% include _other/ogc-block.html ogc_content=ogc %}