<li><a href="{{ site.url }}/setting-info/introduction/" title="Introduction">Introduction</a></li>
<li><a href="{{ site.url }}/setting-info/geography/" title="Geography">Geography</a></li>
<li><a href="{{ site.url }}/setting-info/cosmology/" title="Cosmology">Cosmology</a></li>
<li><a href="{{ site.url }}/setting-info/religion/" title="Religion">Religion</a></li>
<li><a href="{{ site.url }}/setting-info/history/" title="History">History</a></li>
<li><a href="{{ site.url }}/setting-info/organizations-npcs/" title="Organizations &amp; NPCs">Organizations &amp; NPCs</a></li>
