{% assign creature = include.creature %}
<p><strong>{{ creature.name }}{% if creature.cr %} CR {{ creature.cr }}{% endif %}</strong></p>
<p>{% if creature.alignment %}{{ creature.alignment }} {% endif %}{% if creature.size %}{{ creature.size }} {% endif %}{% if creature.type %}{{ creature.type }} {% endif %}{% if creature.subtypes %}({% for subtype in creature.subtypes %}{{ subtype }}{% if !forloop.last %}, {% endif %}{% endfor %}){% endif %}</p>
<p><strong>Init</strong> {% if creature.init.total < 0 %}-{% else %}+{% endif %}{{ creature.init.total }} ({% if creature.init.dex < 0 %}-{% else %}+{% endif %}{{ creature.init.dex }} Dex); <strong>Senses</strong> {% for sense in creature.senses %}{{ sense }}; {% endfor %} <em>listen</em> {% if creature.skills.listen.value < 0 %}-{% else %}+{% endif %}{{ creature.skills.listen.value }}, <em>spot</em> {% if creature.skills.spot.value < 0 %}-{% else %}+{% endif %}{{ creature.skills.spot.value }}</p>
{% if creature.auras %}<p><strong>Aura(s)</strong> {% for aura in creature.auras %}{{ aura.name }} ({{ aura.range }}, DC {{ aura.dc }}){% if !forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
<p><strong>Languages</strong> {% for language in creature.languages %}{{ language.name }} ({{ language.ranks }} rank{% if language.ranks == 1 %}{% else %}s{% endif %}){% if !forloop.last %}, {% endif %}{% endfor %}</p>

<hr />
<h4>AC, HP, &amp; Saves</h4>
<p><strong>AC</strong> {{ creature.ac.full }}, <strong>touch</strong> {{ creature.ac.touch }}, <strong>flat-footed</strong> {{ creature.ac.flatfooted }} ({% for bonus in creature.ac.bonuses %}{% if bonus.value < 0 %}-{% else %}+{% endif %}{{ bonus.value }} {{ bonus.name }}{% if !forloop.last %}, {% endif %}{% endfor %})[; <strong>defenses</strong>][ Dodge][; {% feat_link mobility %}][; Deflect Arrows][; Two-Weapon Defense]</p>
<p><strong>HP</strong> {{ creature.hp }} ({{ creature.hd }} HD){% if creature.fasthealing %}; <strong>fast healing</strong> {{ creature.fasthealing }}{% endif %}{% if creature.dr %}{% for dr in creature.dr %}; <strong>DR</strong> {{ dr.amount }}/{{ dr.type }}{% endfor %}{% endif %}</p>
<p><a href="{{ site.url }}/game-rules/adventuring-combat/combat/#loss-of-hit-points"><em>Massive Damage Threshold</em></a> {{ creature.massivedamagemax }}; <a href="{{ site.url }}/game-rules/adventuring-combat/combat/#loss-of-hit-points"><em>Massive Damage DC</em></a> {{ creature.massivedamagedc }}</p>
{% if creature.immunities %}<p><strong>Immune</strong> {% for immune in creature.immunities %}{{ immune }}{% if !forloop.last %}, {% endif %}{% endfor %}</p>{% endif %}
<p><strong>Resist</strong> [resistances][; <strong>SR</strong> XX][; <strong>PR</strong> XX]</p>
<p><strong>Fort</strong> +XX, <strong>Ref</strong> +XX, <strong>Will</strong> +XX</p>
<p>[<strong>Weakness</strong> XX]</p>

<hr />
<h4>Speed &amp; Attacks</h4>
<p><strong>Speed</strong> XX ft.[, other modes][; Spring Attack][; Ride-By Attack][; Shot on the Run][; Run]</p>
<p><strong>Melee</strong> weapon +XX (damage)</p>
<p><strong>Ranged</strong> weapon +XX (damage)[; Manyshot][; Rapid Shot]</p>
<p><strong>Space</strong> {{ creature.space }} ft.; <strong>Reach</strong> {{ creature.reach }} ft.</p>
<p><strong>Base Atk</strong> +XX; <strong>Grp</strong> +XX</p>
<p>[<strong>Atk Options</strong> ][ {% feat_link blind-fight %}][; Cleave][; {% feat_link combat-reflexes %}][; Far Shot][; Great Cleave][; Improved Bull Rush][; Improved Disarm][; Improved Feint][; Improved Overrun][; Improved Precise Shot][; {% feat_link improved-sunder %}][; Improved Trip][; Mounted Combat][; Point Blank Shot][; Power Attack][; Powerful Charge][; Precise Shot][; Quick Draw][; Rapid Reload][; Spirited Charge][; Spring Attack][; Stunning Fist][; Trample][; Whirlwind Attack][; metamagic feats (if the creature casts spontaneously)]</p>
<p>[<strong>Special Atks</strong> special attacks][; Snatch Arrows]</p>
<p>[<strong>Special Actions</strong> special actions]</p>
<p>[<strong>Spells</strong> (CL XX, +XX melee touch, +XX ranged touch):][; Spell Penetration]</p>
<p>[<strong>Spell-Like Abilities</strong> (CL XX):]</p>

<hr />
<h4>Abilities, Skills, &amp; Feats</h4>
<p><strong>Abilities</strong> Str {{ creature.abilities.str }}, Dex {{ creature.abilities.dex }}, Con {{ creature.abilities.con }}, Int {{ creature.abilities.int }}, Wis {{ creature.abilities.wis }}, Cha {{ creature.abilities.cha }}</p>
<p>[<strong>SQ</strong> special qualities]</p>
<p><strong>Skills</strong> {% for item in creature.skills %}{% assign skillname = item[0] %}{% assign skill = item[1] %}<a href="{{ site.url }}/game-rules/skills-feats/skills/#{{ skill.url }}"><em>{{ skill.name }}</em></a> {% if skill.value < 0 %}-{% else %}+{% endif %}{{ skill.value }}{% if skill.notes != "" %} ({{ skill.notes }}){% endif %}{% if !forloop.last %}, {% endif %}{% endfor %}</p>
<p><strong>Feats</strong> {% for item in creature.feats %}{% assign featname = item[0] %}{% assign feat = item[1] %}<a href="{{ site.url }}/game-rules/skills-feats/feats/#{{ feat.url }}">{{ feat.name }}</a>{% if !forloop.last %}, {% endif %}{% endfor %}</p>
<p><strong>Possessions</strong></p>

<hr />
<h4>Spells, Psionics, Special Qualities, &amp; Special Abilities</h4>
<p>[Ability (Type): description]</p>
<p>[Ability (Type): description]</p>
<p>[<strong>Spells/day:</strong> XX/XX/XX/XX]</p>
<p>[<strong>School Specialization:</strong> school; <strong>Forbidden Schools:</strong> school 1, school 2(, school 3)]</p>
<p>[<strong>Spell saves:</strong> XX + spell level (modifiers)]</p>
<p>[<strong>Typical Spells Prepared:</strong> spells]</p>
<p>[<strong>Power points/day:</strong> XXX]</p>
<p>[<strong>Discipline:</strong> psionic discipline]</p>
<p>[<strong>Power saves:</strong> XX + power level (modifiers)]</p>
<p>[<strong>Typical Powers Known:</strong> powers]</p>

<hr />
<h4>Other Information</h4>
<p><strong>Environment:</strong> </p>
<p><strong>Treasure:</strong> </p>
<p><strong>Organization:</strong> </p>
<p><strong>Advancement:</strong> </p>
