{% capture page_url %}{{ page.url | replace:'index.html','' }}{% endcapture %}
{% if page_url == "" %}{% capture page_url %}/{% endcapture %}{% endif %}
{% if page_url != "/" %}
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                {% capture crumb_url %}/{% endcapture %}
                <li><a href="{{ crumb_url }}"><span class="glyphicon glyphicon-home"></span></a></li>
                {% for link in page.crumbs %}
                  {% capture crumb_url %}{{ crumb_url }}{{ link }}/{% endcapture %}
                <li>{% if crumb_url != page_url %}<a href="{{ crumb_url }}">{% endif %}{{ page.crumbTitles[forloop.index0] }}{% if crumb_url != page.url %}</a>{% endif %}</li>
                {% endfor %}
                <li class="active">{{ page.title }}</li>
            </ol>
        </div>
    </div>
</section>
{% endif %}
