        <footer id="page-foot" class="container">
            <section class="row">
                <div class="col-xs-12 col-sm-6"><p>&copy; 2007-{{ 'now' | date: "%y" }} Bill Parrott</p></div>
                <div class="col-xs-12 col-sm-6 text-right"><p><a href="{{ site.url }}/contributing/">Contribute to Pannotia</a></p></div>
            </section>
        </footer>
        <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
        <script src="{{ site.url }}/assets/js/bootstrap-submenu.min.js"></script>
        <script>
            $('.dropdown-submenu > a').submenupicker();
        </script>
    </body>
</html>