        <footer id="page-foot" class="container">
            <section class="row">
                <div class="col-xs-12 col-sm-6"><p>&copy; 2007-{{ 'now' | date: "%y" }} Bill Parrott</p></div>
                <div class="col-xs-12 col-sm-6 text-right"><p><a href="{{ site.url }}/contributing/">Contribute to Pannotia</a></p></div>
            </section>
        </footer>
        <script src="{{ site.url }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
        <script src="{{ site.url }}/assets/js/bootstrap-submenu.min.js"></script>
        <script src="{{ site.url }}/assets/js/lunr.min.js"></script>
        <script src="{{ site.url }}/assets/js/mustache.min.js"></script>
        <script src="{{ site.url }}/assets/js/date.format.js"></script>
        <script src="{{ site.url }}/assets/js/URI.js"></script>
        <script src="{{ site.url }}/assets/js/jquery-lunr-search.js"></script>
        <script>
            $(document).ready(function() {
                $('[data-submenu]').submenupicker();
                $('#site-search-query').lunrSearch({
                    indexUrl: '{{ site.url }}/assets/js/index.json', // Url for the .json file containing search index data
                    results : 'site-#search-results',                // selector for containing search results element
                    entries : '.entries',                            // selector for search entries containing element (contained within results above)
                    template: '#site-search-results-template'        // selector for Mustache.js template
                });
            });
        </script>
    </body>
</html>