<li><a href="{{ site.url }}/game-rules/basics/" title="The Basics">The Basics</a></li>
<li><a href="{{ site.url }}/game-rules/skills-feats/" title="Skills &amp; Feats">Skills &#038; Feats</a></li>
<li><a href="{{ site.url }}/game-rules/races-classes/" title="Races &amp; Classes">Races &#038; Classes</a></li>
<li><a href="{{ site.url }}/game-rules/magic-psionics/" title="Magic &amp; Psionics">Magic &#038; Psionics</a></li>
<li><a href="{{ site.url }}/game-rules/adventuring-combat/" title="Adventuring &amp; Combat">Adventuring &#038; Combat</a></li>
