<li><a href="{{ site.url }}/equipment/weapons-armor/" title="Weapons &amp; Armor">Weapons &#038; Armor</a></li>
<li><a href="{{ site.url }}/equipment/magic-psionic-items/" title="Magic &amp; Psionic Items">Magic &#038; Psionic Items</a></li>
<li><a href="{{ site.url }}/equipment/epic-magic-psionic-items/" title="Epic Magic &amp; Psionic Items">Epic Magic &#038; Psionic Items</a></li>
<li><a href="{{ site.url }}/equipment/special-materials/" title="Special Materials">Special Materials</a></li>
<li><a href="{{ site.url }}/equipment/artifacts/" title="Artifacts">Artifacts</a></li>
<li><a href="{{ site.url }}/equipment/generating-treasure/" title="Generating Treasure">Generating Treasure</a></li>
