{% assign combo = include.combo %}

{% capture ogc %}
<p><em>{% for school in combo.schools | sort: school["title"] %}{{ school.name }}{% if school.subschools.size > 0 %} ({{ school.subschools | sort | join:', ' }}){% endif %}{% if school.descriptors.size > 0 %} [{{ school.descriptors | sort | join:'] [' }}]{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}</em></p>
<p><strong>Component Spells:</strong> {{ combo.componentSpells | join:'; ' | liquify }}</p>
{% if spell.components.size > 0 %}
<p><strong>Components:</strong> {{ combo.components | sort | join:', ' }}</p>
{% endif %}
<p><strong>Casting Time:</strong> {{ combo.castingTime }}</p>
<p><strong>Range:</strong> {{ combo.range }}</p>
{% if combo.effect != "" %}
<p><strong>Effect:</strong> {{ combo.effect }}</p>
{% endif %}
{% if combo.target != "" %}
<p><strong>Target:</strong> {{ combo.target }}</p>
{% endif %}
{% if combo.area != "" %}
<p><strong>Area</strong> {{ combo.area }}</p>
{% endif %}
<p><strong>Duration:</strong> {{ combo.duration }}{% if combo.dismissable %} (D){% endif %}</p>
<p><strong>Saving Throw:</strong> {{ combo.savingThrow }}</p>
<p><strong>Spell Resistance:</strong> {{ combo.spellResistance }}</p>
{% if combo.xpCost > 0 %}
<p><strong>XP Cost:</strong> {{ combo.xpCost | number_format }} XP</p>
{% endif %}
{% if combo.xpCostSpecial != "" %}
<p><strong>XP Cost:</strong> {{ combo.xpCostSpecial }}</p>
{% endif %}
{% if combo.materialComponents.size > 0 %}
<p><strong>Material Components:</strong> {{ combo.materialComponents | join:'; ' }}.</p>
{% endif %}
{% if combo.focus != "" %}
<p><strong>Focus:</strong> {{ combo.focus }}.</p>
{% endif %}
{% if combo.divineFocus != "" %}
<p><strong>Divine Focus:</strong> {{ combo.divineFocus }}.</p>
{% endif %}
{{ combo.description | markdownify }}
{% if combo.special != "" %}
<p><strong>Special:</strong> {{ combo.special | markdownify | liquify }}.</p>
{% endif %}
{% endcapture %}

{% if combo.fluffText != "" %}
<p><em>{{ combo.fluffText }}</em></p>
{% endif %}

{% include _other/ogc-block.html ogc_content=ogc %}